/.consulo/workspace.xml
/.consulo/modules.xml
/.consulo/uiDesigner.xml
/.consulo/compiler.xml
/.consulo/encodings.xml
/.consulo/misc.xml
/.consulo/vcs.xml
/.consulo/.name
/.consulo/libraries/
plugin/sandbox/
target/
